
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for Log</h1>

<f:flashMessages />

<table  class="tx_fechangelog" >
	<tr>
		<th><f:translate key="tx_fechangelog_domain_model_log.table_name" /></th>
		<th><f:translate key="tx_fechangelog_domain_model_log.record_uid" /></th>
		<th><f:translate key="tx_fechangelog_domain_model_log.field_name" /></th>
		<th><f:translate key="tx_fechangelog_domain_model_log.field_type" /></th>
		<th><f:translate key="tx_fechangelog_domain_model_log.action" /></th>
		<th><f:translate key="tx_fechangelog_domain_model_log.old_string" /></th>
		<th><f:translate key="tx_fechangelog_domain_model_log.new_string" /></th>
		<th><f:translate key="tx_fechangelog_domain_model_log.old_text" /></th>
		<th><f:translate key="tx_fechangelog_domain_model_log.new_text" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{logs}" as="log">
		<tr>
			<td><f:link.action action="show" arguments="{log : log}"> {log.tableName}</f:link.action></td>
			<td><f:link.action action="show" arguments="{log : log}"> {log.recordUid}</f:link.action></td>
			<td><f:link.action action="show" arguments="{log : log}"> {log.fieldName}</f:link.action></td>
			<td><f:link.action action="show" arguments="{log : log}"> {log.fieldType}</f:link.action></td>
			<td><f:link.action action="show" arguments="{log : log}"> {log.action}</f:link.action></td>
			<td><f:link.action action="show" arguments="{log : log}"> {log.oldString}</f:link.action></td>
			<td><f:link.action action="show" arguments="{log : log}"> {log.newString}</f:link.action></td>
			<td><f:link.action action="show" arguments="{log : log}"> {log.oldText}</f:link.action></td>
			<td><f:link.action action="show" arguments="{log : log}"> {log.newText}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{log : log}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{log : log}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Log</f:link.action>
</f:section>